body{
    margin: 0px;
    padding: opx;
    background-color: black;
}
form {
    position: relative;
    background-color: #1C1C1C;
}
#plus-btn {
    position: absolute;
    height: 105px;
    right: 3px;
    bottom: 56px;
}
input{
    width: 75px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    margin: 3px;
    background-color: #404040;
    color:white;
}
fieldset{
    margin: 100px auto;
    border-radius: 10px;

}

.forth-row{
    margin-right: 85px;
    display: block;
}
.third-row {
    float: left;

}
.second-row {
    float: left;
}
.first-row {
    float: left;

}

.plus-btn {
    display: inline-block;
}












    



